<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<title>Hello HTML</title>
		<link rel="stylesheet" href="/style.css">
	</head>
	<body>
		<h1>Time Stamp Microservices</h1>
		<p>Each button fulfills a user story for this project</p>
     <form action="/api/timestamp/12-28-2018?" method="get">
      <input type="submit" value="Valid date time string">
      </form> 
      <form action="/api/timestamp/?" method="get">
        <input type="submit" value="Blank date time string">
      </form> 
      <form action="/api/timestamp/efouenos?" method="get">
        <input type="submit" value="Invalid date time string">
      </form> 
	</body>

</html>